# Program Header

In [26]:
import pandas as pd
import os
import sys
nb_dir = os.path.split(os.getcwd())[0]
if nb_dir not in sys.path:
    sys.path.append(nb_dir)
from header import *
initialize_data_root("AY")

'Initialized data root'

# Table of contents
1. [Import](#Import)
2. [Inspect](#Inspect)
3. [Save](#Save)

## Import <a name="Import"></a>

In [27]:
num_data = pd.read_csv(data_root+'01-raw/2019q3/num.txt', '\t')
num_data.head()

,adsh,tag,version,coreg,ddate,qtrs,uom,value,footnote
0,0001625376-19-000017,EntityPublicFloat,dei/2014,NaN,20180430,0,USD,0.0,NaN
1,0000034563-19-000064,DerivativeNonmonetaryNotionalAmount,invest/2013,NaN,20190630,0,lb,48183000.0,NaN
2,0000034563-19-000064,DerivativeNonmonetaryNotionalAmount,invest/2013,NaN,20180630,0,lb,43459000.0,NaN
3,0001370946-19-000033,DerivativeNonmonetaryNotionalAmount,invest/2013,NaN,20190630,0,MMBTU,2.0,NaN
4,0000225648-19-000108,DerivativeNonmonetaryNotionalAmount,invest/2013,NaN,20190630,0,MW,4300000.0,NaN

In [28]:
pre_data = pd.read_csv(header.data_root+'01-raw/2019q3/pre.txt', '\t')
pre_data.head()

,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating
0,0001625376-19-000017,1,9,CP,0,H,EntityPublicFloat,dei/2014,Entity Public Float,0
1,0001625376-19-000017,1,14,CP,0,H,DocumentFiscalYearFocus,dei/2014,Document Fiscal Year Focus,0
2,0001625376-19-000019,1,11,CP,0,H,DocumentFiscalYearFocus,dei/2014,Document Fiscal Year Focus,0
3,0001766016-19-000005,1,10,CP,0,H,DocumentFiscalYearFocus,dei/2014,Document Fiscal Year Focus,0
4,0001047469-19-004442,1,6,CP,0,H,DocumentFiscalYearFocus,dei/2014,Document Fiscal Year Focus,0

In [29]:
sub_data = pd.read_csv(header.data_root+'01-raw/2019q3/sub.txt', '\t')
sub_data.head()

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
0,0000002178-19-000086,2178,"ADAMS RESOURCES & ENERGY, INC.",5172.0,US,TX,HOUSTON,77027,17 S. BRIAR HOLLOW LN.,NaN,...,20190630,2019.0,Q2,20190807,2019-08-07 17:21:00.0,0,1,ae-20190630_htm.xml,1,NaN
1,0000002488-19-000104,2488,ADVANCED MICRO DEVICES INC,3674.0,US,CA,SANTA CLARA,95054,2485 AUGUSTINE DRIVE,NaN,...,20190630,2019.0,Q2,20190731,2019-07-31 16:27:00.0,0,1,amd0629201910q_htm.xml,1,NaN
2,0000002488-19-000113,2488,ADVANCED MICRO DEVICES INC,3674.0,US,CA,SANTA CLARA,95054,2485 AUGUSTINE DRIVE,NaN,...,20190731,2019.0,Q3,20190808,2019-08-08 16:10:00.0,0,0,amdform8k08082019_htm.xml,1,NaN
3,0000002488-19-000144,2488,ADVANCED MICRO DEVICES INC,3674.0,US,CA,SANTA CLARA,95054,2485 AUGUSTINE DRIVE,NaN,...,20190831,2019.0,Q3,20190906,2019-09-06 16:11:00.0,0,0,amdform8kequitysalesse_htm.xml,1,NaN
4,0000002969-19-000042,2969,AIR PRODUCTS & CHEMICALS INC /DE/,2810.0,US,PA,ALLENTOWN,18195-1501,7201 HAMILTON BLVD,NaN,...,20190630,2019.0,Q3,20190725,2019-07-25 13:02:00.0,0,1,apd-10qx30jun2019_htm.xml,1,NaN

In [30]:
tag_data = pd.read_csv(header.data_root+'01-raw/2019q3/tag.txt', '\t')
tag_data.head()

,tag,version,custom,abstract,datatype,iord,crdr,tlabel,doc
0,EntityPublicFloat,dei/2014,0,0,monetary,I,C,Entity Public Float,State aggregate market value of voting and non...
1,DocumentFiscalYearFocus,dei/2014,0,0,gYear,D,NaN,Document Fiscal Year Focus,This is focus fiscal year of the document repo...
2,DocumentPeriodEndDate,dei/2014,0,0,date,D,NaN,Document Period End Date,The end date of the period reflected on the co...
3,CurrentFiscalYearEndDate,dei/2014,0,0,gMonthDay,D,NaN,Current Fiscal Year End Date,End date of current fiscal year in the format ...
4,InvestmentAxis,invest/2013,0,1,axis,NaN,NaN,Investment [Axis],"A categorization of investments (securities, d..."

## Inspect <a name="Inspect"></a>

Verify that we have unique observations in the numeric data on the ash, tag, version, ddate, qtrs, coreg, and uom level.

In [31]:
num_data.groupby(['adsh', 'tag', 'version', 'ddate', 'qtrs', 'coreg', 'uom'])\
    .count()[['value']]\
    .sort_values('value', ascending = False)\
    .head()

                                                                                                                                             value
adsh                 tag                                                version              ddate    qtrs coreg                       uom
0000003545-19-000100 DebtInstrumentNumberofInstruments                  0000003545-19-000100 20140831 0    SilverNipCitrus             loan      1
0001493152-19-013930 NotesPayableCurrent                                us-gaap/2019         20190731 0    DonaldPMonacoInsuranceTrust USD       1
0001493152-19-013996 DebtInstrumentConvertibleThresholdPercentageOfS... us-gaap/2019         20180131 0    CrownBridgePartners         pure      1
                                                                                             20171031 0    AuctusFund                  pure      1
                                                                                             20170930 0    PowerUpLendingGroup         pure      1

In [32]:
num_data.dtypes

adsh         object
tag          object
version      object
coreg        object
ddate         int64
qtrs          int64
uom          object
value       float64
footnote     object
dtype: object

In [33]:
pre_data.dtypes

adsh        object
report       int64
line         int64
stmt        object
inpth        int64
rfile       object
tag         object
version     object
plabel      object
negating     int64
dtype: object

In [34]:
sub_data.dtypes

adsh           object
cik             int64
name           object
sic           float64
countryba      object
stprba         object
cityba         object
zipba          object
bas1           object
bas2           object
baph           object
countryma      object
stprma         object
cityma         object
zipma          object
mas1           object
mas2           object
countryinc     object
stprinc        object
ein           float64
former         object
changed       float64
afs            object
wksi            int64
fye           float64
form           object
period          int64
fy            float64
fp             object
filed           int64
accepted       object
prevrpt         int64
detail          int64
instance       object
nciks           int64
aciks          object
dtype: object

In [35]:
tag_data.dtypes

tag         object
version     object
custom       int64
abstract     int64
datatype    object
iord        object
crdr        object
tlabel      object
doc         object
dtype: object

## Save <a name="Save"></a>
Create CSV versions in build/raw

In [38]:
num_data.to_csv(data_root+'02-build/raw/2019q3/num.csv', index = False)
pre_data.to_csv(data_root+'02-build/raw/2019q3/pre.csv', index = False)
sub_data.to_csv(data_root+'02-build/raw/2019q3/sub.csv', index = False)
tag_data.to_csv(data_root+'02-build/raw/2019q3/tag.csv', index = False)