# Program Header

In [7]:
import pandas as pd
import os
import sys
nb_dir = os.path.split(os.getcwd())[0]
if nb_dir not in sys.path:
    sys.path.append(nb_dir)
from header import *
initialize_data_root("AY")

'Initialized data root'

# Table of contents
1. [Import](#Import)
2. [Inspect](#Inspect)
3. [Save](#Save)

## Import <a name="Import"></a>

In [19]:
raw_num_data = pd.read_csv(header.data_root+'02-build/raw/2019q3/num.csv')
raw_pre_data = pd.read_csv(header.data_root+'02-build/raw/2019q3/pre.csv')
raw_sub_data = pd.read_csv(header.data_root+'02-build/raw/2019q3/sub.csv')
raw_tag_data = pd.read_csv(header.data_root+'02-build/raw/2019q3/tag.csv')

## Data Understanding <a name="Data Understanding"></a>

Given in readme.txt:
* **num**: Numeric data and actual values associated to `adsh-ddate-tag-etc`. All columns are relevant
* **pre**: Location of tags and a preferred label (`plabel`). `plabel` (and joining columns) seems relevant
* **sub**: Summary information about submission. Business-specific information including industry and company name are relevant
* **tag**: Tag-level dataset. `doc` seems to be a more descriptive `plabel` from **pre** dataset

In [20]:
raw_num_data.head()

,Unnamed: 0,adsh,tag,version,coreg,ddate,qtrs,uom,value,footnote
0,0,0001625376-19-000017,EntityPublicFloat,dei/2014,NaN,20180430,0,USD,0.0,NaN
1,1,0000034563-19-000064,DerivativeNonmonetaryNotionalAmount,invest/2013,NaN,20190630,0,lb,48183000.0,NaN
2,2,0000034563-19-000064,DerivativeNonmonetaryNotionalAmount,invest/2013,NaN,20180630,0,lb,43459000.0,NaN
3,3,0001370946-19-000033,DerivativeNonmonetaryNotionalAmount,invest/2013,NaN,20190630,0,MMBTU,2.0,NaN
4,4,0000225648-19-000108,DerivativeNonmonetaryNotionalAmount,invest/2013,NaN,20190630,0,MW,4300000.0,NaN

In [16]:
raw_pre_data.head()

,Unnamed: 0,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating
0,0,0001625376-19-000017,1,9,CP,0,H,EntityPublicFloat,dei/2014,Entity Public Float,0
1,1,0001625376-19-000017,1,14,CP,0,H,DocumentFiscalYearFocus,dei/2014,Document Fiscal Year Focus,0
2,2,0001625376-19-000019,1,11,CP,0,H,DocumentFiscalYearFocus,dei/2014,Document Fiscal Year Focus,0
3,3,0001766016-19-000005,1,10,CP,0,H,DocumentFiscalYearFocus,dei/2014,Document Fiscal Year Focus,0
4,4,0001047469-19-004442,1,6,CP,0,H,DocumentFiscalYearFocus,dei/2014,Document Fiscal Year Focus,0

In [17]:
raw_sub_data.head()

,Unnamed: 0,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,...,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
0,0,0000002178-19-000086,2178,"ADAMS RESOURCES & ENERGY, INC.",5172.0,US,TX,HOUSTON,77027,17 S. BRIAR HOLLOW LN.,...,20190630,2019.0,Q2,20190807,2019-08-07 17:21:00.0,0,1,ae-20190630_htm.xml,1,NaN
1,1,0000002488-19-000104,2488,ADVANCED MICRO DEVICES INC,3674.0,US,CA,SANTA CLARA,95054,2485 AUGUSTINE DRIVE,...,20190630,2019.0,Q2,20190731,2019-07-31 16:27:00.0,0,1,amd0629201910q_htm.xml,1,NaN
2,2,0000002488-19-000113,2488,ADVANCED MICRO DEVICES INC,3674.0,US,CA,SANTA CLARA,95054,2485 AUGUSTINE DRIVE,...,20190731,2019.0,Q3,20190808,2019-08-08 16:10:00.0,0,0,amdform8k08082019_htm.xml,1,NaN
3,3,0000002488-19-000144,2488,ADVANCED MICRO DEVICES INC,3674.0,US,CA,SANTA CLARA,95054,2485 AUGUSTINE DRIVE,...,20190831,2019.0,Q3,20190906,2019-09-06 16:11:00.0,0,0,amdform8kequitysalesse_htm.xml,1,NaN
4,4,0000002969-19-000042,2969,AIR PRODUCTS & CHEMICALS INC /DE/,2810.0,US,PA,ALLENTOWN,18195-1501,7201 HAMILTON BLVD,...,20190630,2019.0,Q3,20190725,2019-07-25 13:02:00.0,0,1,apd-10qx30jun2019_htm.xml,1,NaN

In [18]:
raw_tag_data.head()

,Unnamed: 0,tag,version,custom,abstract,datatype,iord,crdr,tlabel,doc
0,0,EntityPublicFloat,dei/2014,0,0,monetary,I,C,Entity Public Float,State aggregate market value of voting and non...
1,1,DocumentFiscalYearFocus,dei/2014,0,0,gYear,D,NaN,Document Fiscal Year Focus,This is focus fiscal year of the document repo...
2,2,DocumentPeriodEndDate,dei/2014,0,0,date,D,NaN,Document Period End Date,The end date of the period reflected on the co...
3,3,CurrentFiscalYearEndDate,dei/2014,0,0,gMonthDay,D,NaN,Current Fiscal Year End Date,End date of current fiscal year in the format ...
4,4,InvestmentAxis,invest/2013,0,1,axis,NaN,NaN,Investment [Axis],"A categorization of investments (securities, d..."

## Clean <a name="Clean"></a>

In [ ]:
num_data = raw_num_data.copy()\
    .drop()

## Merge <a name="Merge"></a>

In [ ]:
sec_data = pd.merge(num_data, pre_data)

## Save <a name="Save"></a>
Create CSV versions in build/raw

In [25]:
num_data.to_csv(data_root+'/02-build/raw/201903/num_data.csv')
pre_data.to_csv(data_root+'/02-build/raw/201903/pre_data.csv')
sub_data.to_csv(data_root+'/02-build/raw/201903/sub_data.csv')
tag_data.to_csv(data_root+'/02-build/raw/201903/tag_data.csv')